$font-stack: "Lucida Sans";
$primary-color: #fdf5df;
$fontcolor: #2aa198;
$radius: 6px;

body {
  height: 100vh;
  width: 100vw;
  background-color: $primary-color;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-decoration: underline;
  color: $fontcolor;
  padding-top: 10px;
}
Link {color: $fontcolor; }
a:visited{color: $fontcolor;}
.onebox {
  margin: 10px;
  padding: 10px;
  background-color: $primary-color;
  color: $fontcolor;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  width: 375px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input{height: 20px;
width: 100px;
border-radius: $radius;}